---
SiteTitle: JMQ's Tech Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <title>{{ SiteTitle }}</title>
  </head>
  <body>
    <main>
      <h1><a href="/">{{ SiteTitle }}</a></h1>
      {{ content | safe }}
    </main>
  </body>
</html>